<form method="post" action="{{ path('joueur_delete', {'id': joueur.id}) }}" onsubmit="return confirm('Tu es sur de vouloir supprime ce joueur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ joueur.id) }}">
    <button style="border: none; outline: none; background: transparent; width: 100%; color: inherit;" >Supprimer</button>
</form>
