{% extends 'base.html.twig' %}

{% block title %}New Joueur{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-2 mx-auto">
            <h1>Créer un nouveau joueur</h1>

            {{ include('joueur/_form.html.twig') }}
            
            <a href="{{ path('joueur_index') }}">back to list</a>
        </div>
    </div>
    
</div>
{% endblock %}

