{% extends 'base.html.twig' %}

{% block title %}Modifier l'equipe{% endblock %}

{% block body %}

<h1 class="text-center">Modifier l'equipe</h1>

{{ include('equipe/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

<a class="btn btn-primary mt-2 d-block w-25 mx-auto" href="{{ path('equipe_index') }}">Afficher les équipes</a>
{#{{ include('equipe/_delete_form.html.twig') }}#}
{% endblock %}